@page
@model Inventario.WebSite.Pages.Pedido.Delete


<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2>Eliminar material</h2>
            <form method="post">
                <input type="hidden" asp-for="PedidoDto.id"/>
                <div class="form-group">
                    <label asp-for="PedidoDto.Cliente"></label>
                    <input asp-for="PedidoDto.Cliente" class="form-control" maxlength="45"/>
                </div>
                  <div class="form-group">
                                    <label asp-for="PedidoDto.Fecha_Pedido"></label>
                                    <input asp-for="PedidoDto.Fecha_Pedido" class="form-control"/>
                                    <span class="text-danger" asp-validation-for="PedidoDto.Fecha_Pedido"></span>
                                </div>
                <div class="form-group">
                    <label asp-for="PedidoDto.Estado"></label>
                    <input asp-for="PedidoDto.Estado" class="form-control" maxlength="100"/>
                    <span class="text-danger" asp-validation-for="PedidoDto.Estado"></span>
                </div>
              
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary mr-3">Delete</button>
                        <a class="btn btn-secondary" asp-page="/Pedido/ListPedido">Cancel</a>
                    </div>
                    @if (Model.Errors.Count > 0)
                    {
                    }
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
