@page
@model Inventario.WebSite.Pages.RegistroMaterial.EditModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2>Editar Registro de Material</h2>
            <form method="post">
                <input type="hidden" asp-for="RegistroMaterialDto.id" />
                <div class="form-group">
                    <label asp-for="RegistroMaterialDto.MaterialId">Material ID</label>
                    <input asp-for="RegistroMaterialDto.MaterialId" class="form-control" />
                    <span class="text-danger" asp-validation-for="RegistroMaterialDto.MaterialId"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RegistroMaterialDto.Cantidad">Cantidad</label>
                    <input asp-for="RegistroMaterialDto.Cantidad" class="form-control" />
                    <span class="text-danger" asp-validation-for="RegistroMaterialDto.Cantidad"></span>
                </div>
                @if (Model.Errors.Any())
                {
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            @foreach (var error in Model.Errors)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    </div>
                }
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                        <a asp-page="./ListRegistroMaterial" class="btn btn-secondary">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
