
/* Estilos para el título */
.display-4 {
    margin-bottom: 20px; 
}

/* Estilos para el botón "Add" */
.btn-custom {
    margin-bottom: 20px; 
    background-color: darkgreen;
}

/* Estilos para la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f8f9fa; 
}

.table tr:nth-child(even) {
    background-color: #f8f9fa;
}

.table tr:hover {
    background-color: #e9ecef; 
}
/* Responsive Design */
@media (max-width: 768px) {
    .container-fluid {
        padding: 20px 10px;
    }
}