@page
@model Inventario.WebSite.Pages.DetallePedido.ListDetallePedido

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-8">
            <h1>Detalle Pedido</h1>
        </div>
        <div class="col-md-4 text-right">
            <a asp-page="/DetallePedido/Add" class="btn btn-dark" role="button">
                <i class="fas fa-shopping-bag icon-button"></i> Agregar
            </a>
            
            <a asp-page="/Pedido/ListPedido" class="btn btn-dark" role="button">
                <i class="fas fa-shopping-bag icon-button"></i> Regresar
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-10">
            <table class="table">
                <tr>
                    <th>Pedido ID</th>
                    <th>Material ID</th>
                    <th>Cantidad</th>
                    <th></th>
                </tr>
                @foreach (var detallePedido in Model.DetallePedidos)
                {
                    <tr>
                        <td>@detallePedido.Pedido_ID</td>
                        <td>@detallePedido.Material_ID</td>
                        <td>@detallePedido.Cantidad</td>
                        <td>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
